.signup_container {
  width: 100%;
  min-height: 100vh;
  /*background-color: #f5f5f5;*/
  background-image: url("./bg.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup_form_container {
  width: 900px;
  height: 500px;
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #00397a;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.left h1 {
  margin-top: 0;
  color: white;
  font-size: 35px;
  align-self: center;
}

.right {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_container h1 {
  font-size: 40px;
  margin-top: 0;
}

.input {
  outline: none;
  border: none;
  width: 370px;
  padding: 15px;
  border-radius: 10px;
  background-color: #edf0f5;
  margin: 5px 0;
  font-size: 14px;
}

.error_msg {
  width: 370px;
  padding: 15px;
  margin: 5px 0;
  font-size: 14px;
  background-color: #f34646;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.white_btn,
.green_btn {
  border: none;
  outline: none;
  padding: 12px 0;
  background-color: white;
  border-radius: 20px;
  width: 180px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.green_btn {
  background-color: #002b5c;
  color: white;
  margin: 10px;
}

.main {
  width: auto;
  background-image: url("./bg.jpg");
  background-color: transparent;
  align-items: center;
  text-align: center;
  align-content: center;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(43, 43, 43);
  color: white;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
}

.footer_social_media {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer_social_media_icon {
  margin: 0px 4px;
  width: 25px;
  height: 25px;
}

.footer_info {
  display: flex;
  justify-content: center;
}

.footer_info_left,
.footer_info_center,
.footer_info_right {
  font-size: x-small;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 30%;
}

.footer_info_name,
.footer_info_email,
.footer_info_number {
  margin-bottom: 10px;
}

.footer_info_name,
.footer_info_returns {
  text-align: start;
}

.footer_info_email,
.footer_info_terms {
  text-align: center;
}

.footer_info_number,
.footer_info_contact {
  text-align: end;
}

.footer_date {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer_name {
  display: flex;
  justify-content: center;
}

.footer_bottom_name {
  text-transform: uppercase;
  font-family: RobotoBold;
  font-size: large;
  margin: 0px 20px;
}

.main .footer a {
  color: white;
  text-decoration: none;
  font-size: 0.75rem;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.icons a {
  align-content: center;
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
  justify-content: center;
}
