.navbar {
  display: flex;
  flex-direction: row;
}

.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  color: inherit;
  text-decoration: inherit;
  text-transform: uppercase;
  outline: none;
  font-weight: bold;
}

.navbar-item:hover {
  color: rgb(91, 129, 231);
  transition: 0.3s ease-in-out;
}

.navbar-item-btn {
  display: flex;
  height: 40px;
  width: 100px;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  background-color: transparent;
  border-radius: 14px;
  border-color: rgb(82, 201, 248);
  color: inherit;
  text-decoration: inherit;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-item-btn:hover{
  background-color: rgb(82, 201, 248);
  border-radius: 14px;
  border-color: rgb(82, 201, 248);
  color: rgb(255, 255, 255);
  transition: 0.6s ease-in-out;
}



/*
      
      
      <Link to='/' className="navbar-item">Home</Link>
      <Link to='/myDocs' className="navbar-item">My Docs</Link>
      <Link to='/pricing' className="navbar-item">Pricing</Link>
      <Link to='/login' className="navbar-item">
          <button className='navbar-item-btn'>
              Login
          </button>
      </Link>*/